%aside.w-64{"aria-label" => "Sidebar"}
	.px-3.py-4.overflow-y-auto.rounded
		%ul.space-y-2
			%li
				%a.flex.items-center.p-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href="")
					= heroicon "view-grid", variant: :solid, options: { class: "flex-shrink-0 w-6 h-6"}
					%span.ml-3 대시보드
		%ul.space-y-2.border-t.border-gray-200
			%li
				%a.flex.items-center.p-2.text-base.font-normal.text-gray-500.rounded-lg.hover:text-gray-900(href="")
					= heroicon "user-circle", variant: :solid, options: { class: "flex-shrink-0 w-6 h-6"}
					%span.ml-3 계정
