%footer.p-4.bg-gray-900.shadow.flex.flex-col
	.container.mx-auto
		%ul.my-2.flex.flex-wrap.font-semibold
			%li
				%a.mr-4.text-sm.text-gray-400.hover:underline.md:mr-6(href="") 이카루스 소개
			%li
				%a.mr-4.text-sm.text-gray-400.hover:underline.md:mr-6(href="") 이용약관
			%li
				%a.mr-4.text-sm.text-gray-400.hover:underline.md:mr-6(href="") 개인정보 처리방침
			%li
				%a.mr-4.text-sm.text-gray-400.hover:underline.md:mr-6(href="") 도움말
			%li
				%a.text-sm.text-gray-400.hover:underline(href="") 통계
		%p.text-sm.text-gray-400.whitespace.pre-line.my-4
			이카루스 대표이사  김홍인 서울시 강남구 테헤란로 4길 14, 5층 전화 : 11588-5682 팩스 : 0502-000-8300
			%br/
			E-mail : contact@pro.co.kr 사업자등록번호 : 119-86-54968호 통신판매업 신고번호 : 제2021-경기성남-0000호 사업자정보확인
		%span.text-sm.text-gray-400 © 2022 Icarus. All rights reserved.
