%a(href=url rel="next" remote=remote class="next block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700") 	
	%span.sr-only Next
	= heroicon "chevron-right", options: { class: "w-5 h-5" }
