- content_for :title do "플랜" end
%h2.my-4.text-3xl.text-black.leading-tight.font-bold 플랜
%a.flex.flex-col.items-center.bg-white.rounded-lg.border.shadow-md(href="")
	// TODO: plan cover img
	.flex.flex-col.justify-between.p-4.leading-normal
		%h5.mb-2 미래와의 조우
		%p 장기적으로 더 많은 수익을 안전하게 가져가세요. 42주간 진행되는 장기 플랜은 가장 높은 수익과 안전성을 자랑합니다.